# MacOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/
*.egg

.venv/
venv/
env/
ENV/
*.venv/

.conda/
conda-meta/

# Test / lint / coverage
.pytest_cache/
.ruff_cache/
.mpy_cache/
.coverage
.coverage.*
htmlcov/
coverage.xml
.tox/
.nox/

# Environment variables
.env
.env.*
!.env.example

# Data files
data/
!data/.gitkeep
!data/sample/
!data/sample/.gitkeep

# some common large data formats
*.csv
*.tsv
*.jsonl
*.parquet
*.avro
*.orc
*.delta
*.db
*.sqlite
*.duckdb

# logs
*.log
logs/

# Notebook
.ipynb_checkpoints/

# dbt
dbt_hermes/target/
dbt_hermes/dbt_packages/
dbt_hermes/logs/
dbt_hermes/profiles.yml
dbt_hermes/.user.yml

# spark / delta
spark-warehouse/
metastore_db/
derby.log
.delta_log/
checkpoints/
_checkpoint/
*.crc

# terraform 

infra/terraform/.terraform/
infra/terraform/.terraform.lock.hcl
infra/terraform/terraform.tfstate
infra/terraform/terraform.tfstate.*
infra/terraform/*.tfvars
infra/terraform/*.tfplan
infra/terraform/crash.log
infra/terraform/crash.*.log
infra/terraform/override.tf
infra/terraform/override.tf.json
infra/terraform/*_override.tf
infra/terraform/*_override.tf.json
infra/terraform/tfplan
infra/terraform/tf_output.txt
